$active-color: var(--bg-light-green);
$font: var(--main-font);
$shadow: var(--main-shadow);

.issueCard {
  display: flex;
  position: relative;
  padding: 18px 24px 18px 18px;
  font-size: 24px;
  box-shadow: $shadow;
  cursor: pointer;
}

.issueInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 30%;
}

.currentStatus {
  position: absolute;
  font: normal 700 0.375em $font;
  text-transform: uppercase;
}

.title {
  width: 100%;
  padding-top: 8px;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;
}

.score {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 60px;
  margin-left: 25px;
  border: none;
  color: #000;
  background: transparent;
}

.score:focus {
  box-shadow: 0px 4px 4px 0px #0000002e inset;
  outline: none;
}

.priority {
  font: normal 300 0.3125em $font;
}

.capitalize {
  text-transform: capitalize;
}

.current {
  background: $active-color;
}

.buttonCloseContainer {
  position: relative;
  margin-left: auto;
}

@media (max-width: 640px) {
  .issueCard {
    padding-right: 0;
  }
}
