$font: var(--second-font);

.cardCreateIssue {
  color: gray;
  display: flex;
  width: 30%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 1.5% 1% 0.5%;
  font-style: var(--second-font);
  margin-bottom: 2%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.addedIssue {
  font-size: 1.6em;
  line-height: 27px;
}

.addedIssue:hover,
.downloadIcon:hover {
  transform: scale(1.2);
  cursor: pointer;
}
.downloadIcon {
  width: 90%;
}

.visuallyHidden {
  visibility: hidden;
  width: 0;
  height: 0;
}

.name {
  font-size: 1em;
  margin-bottom: 0;
  width: 70%;
  text-align: start;
  position: relative;
  z-index: 1;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@media (max-width: 1050px) {
  .name {
    font-size: 0.9em;
  }
  .addedIssue {
    font-size: 1.45em;
  }
}

@media (max-width: 950px) {
  .name {
    font-size: 0.8em;
  }
}

@media (max-width: 820px) {
  .cardCreateIssue {
    width: 32%;
  }
  .addedIssue {
    font-size: 1.4em;
    line-height: 24px;
  }
  .name {
    font-size: 0.75em;
  }
  .downloadIcon {
    width: 80%;
  }
}
@media (max-width: 720px) {
  .downloadIcon {
    width: 70%;
  }
  .addedIssue {
    font-size: 1.4em;
    line-height: 22px;
  }
}
@media (max-width: 620px) {
  .cardCreateIssue {
    width: 46%;
  }
}
@media (max-width: 530px) {
  .cardCreateIssue {
    width: 48.5%;
  }
}

@media (max-width: 450px) {
  .cardCreateIssue {
    width: 100%;
  }
}
