$font: var(--second-font);
.container {
  padding: 2% 0;
  color: gray;
}
.btnWrapper {
  display: flex;
  justify-content: flex-end;
}

.h2 {
  color: black;
  font-size: 22px;
  line-height: 30px;
  font-weight: 700;
  font-family: $font;
}

.playersContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 17px;
}

.btnExit {
  border: 1px solid var(--bg-blue);
  text-transform: uppercase;
  color: var(--bg-blue);
  font-weight: 600;
  background-color: white;
  padding: 0.5% 6%;
}

@media (max-width: 1200px) {
  .playersContainer {
    font-size: 15px;
  }
}
@media (max-width: 940px) {
  .btnExit {
    padding: 0.3% 4.5%;
    font-size: 11px;
  }
  .h2 {
    font-size: 17px;
  }
}

@media (max-width: 810px) {
  .playersContainer {
    font-size: 13px;
  }
  .h2 {
    font-size: 15px;
  }
}

@media (max-width: 530px) {
  .playersContainer {
    justify-content: center;
  }
  .btnExit {
    margin-right: 10%;
  }
}
