.issuesList {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  row-gap: 25px;
  max-width: 500px;
  min-width: 260px;
  width: 80%;
  padding: 0;
  margin: 0;
  list-style: none;
}

@media (max-width: 1000px) {
}
