.card {
  color: gray;
  display: flex;
  min-width: 30%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  align-items: center;
  padding: 0.5% 1%;
  font-style: var(--second-font);
  margin-bottom: 2%;
}
.img,
.avatar {
  height: 3.5em;
  min-width: 3.5em;
  border-radius: 50%;
  display: block;
}
.avatar {
  font-size: 1em;
  background: #60dabf;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.name {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-left: 2%;
  width: 60%;
  text-align: start;
}
.remove {
  display: flex;
  align-items: center;
  justify-content: center;
}
.remove:hover {
  transform: scale(1.2);
}
.removeImg {
  width: 70%;
}
.h5 {
  font-size: 1em;
  margin-bottom: 1%;
}
.h6 {
  font-size: 0.7em;
  margin-bottom: 0;
}
.currentUser {
  color: black;
  font-size: 0.6em;
  margin-bottom: 0;
  line-height: 0.6em;
}

@media (max-width: 1200px) {
  .h5 {
    margin-bottom: 0.5%;
  }
  .img,
  .avatar {
    height: 3em;
    min-width: 3em;
  }
  .removeImg {
    width: 60%;
  }
}

@media (max-width: 995px) {
  .card {
    min-width: 46%;
  }
  .currentUser {
    font-size: 0.5em;
  }
}

@media (max-width: 810px) {
  .h5 {
    margin-bottom: 0.3%;
  }
  .img,
  .avatar {
    height: 2.8em;
    min-width: 2.8em;
  }
  .removeImg {
    width: 50%;
  }
}

@media (max-width: 530px) {
  .card {
    min-width: 80%;
    margin-bottom: 4%;
  }
  .currentUser {
    font-size: 0.45em;
  }
}
