$btn-background: var(--bg-blue);
$font: var(--second-font);
$page-width: var(--page-width);
$page-width-sidebar: var(--page-width-sidebar);
$button-width: 189px;

.container {
  display: flex;
  justify-content: center;
  height: 100%;
}
.content {
  width: 70%;
  max-width: $page-width;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 2% 3% 0;
}
.contentWithSidebar {
  max-width: $page-width-sidebar;
}
.titleSprint {
  display: flex;
  justify-content: center;
  margin: 2% 0;
  align-items: baseline;
}
.iconIssue {
  width: 1em;
  display: block;
  margin-left: 2%;
  cursor: pointer;
}

.titleIssues,
.titleSettings {
  color: black;
  font-size: 22px;
  line-height: 30px;
  font-weight: 700;
  font-family: $font;
  margin: 2% 0;
}

.input {
  display: inline;
  // width: 230px;
  width: 55%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btnCopy {
  background: $btn-background;
  width: $button-width;
  font-weight: 500;
}

.btnGameContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 8px;
  margin: 3% auto;
}

.btnStart,
.btnCancel {
  width: $button-width;
  font-weight: 500;
}

.btnStart {
  background: $btn-background;
}
.btnCancel {
  // background: white;
  // color: $btn-background;
  border: 1px solid $btn-background;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.titleLinkTo {
  font-style: italic;
  font-weight: normal;
  font-size: 17px;
  margin-bottom: 1px;
}

.containerLinkToLobby {
  text-align: start;
}
.wrapperIssue {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 17px;
}
.card {
  position: relative;
  display: flex;
  color: gray;
  flex-direction: column;
  align-items: flex-start;
  width: 300px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 1.5% 1% 0.5%;
  font-style: var(--second-font);
  margin-bottom: 2%;
}
.containerSettings {
  padding: 2% 0;
}

@media (max-width: 946px) {
  .input {
    font-size: 16px;
  }
  .titleLinkTo,
  .titleIssues,
  .titleSettings {
    font-size: 17px;
  }
}

@media (max-width: 820px) {
  .btnGameContainer {
    flex-direction: column;
  }
  .card {
    width: 200px;
  }
}

@media (max-width: 530px) {
  .containerLinkToLobby,
  .wrapperIssue,
  .settingsList {
    width: 80%;
    text-align: start;
    margin: 0 auto;
  }

  .btnGameContainer {
    width: 80%;
  }
}

@media (max-width: 1000px) {
  .content {
    width: 90%;
  }
}

@media (max-width: 640px) {
  .content {
    padding: 0 10px 31px 10px;
  }
}
