$btn-background: var(--bg-blue);
$font: var(--second-font);
$page-width: var(--page-width);
$page-width-sidebar: var(--page-width-sidebar);
$button-width: 189px;

// .wrapper {
//   width: 70%;
//   margin: 0 auto;
//   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
//   padding: 2% 3% 0;
// }

.container {
  display: flex;
  justify-content: center;
  height: 100%;
}
.content {
  width: 70%;
  max-width: $page-width;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 2% 3% 0;
}
.contentWithSidebar {
  max-width: $page-width-sidebar;
}

.btnExitContainer {
  display: flex;
  justify-content: flex-end;
  margin: 3% 0;
}
.btnExit {
  width: 18%;
  font-weight: 500;
  background: white;
  color: $btn-background;
  border: 1px solid $btn-background;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.dealerKickPopup {
  margin: 0 auto;
}
.nameKickPlayer {
  color: #66999b;
  font-weight: 500;
}
@media (max-width: 1080px) {
  .btnExit {
    width: 20%;
  }
}

@media (max-width: 946px) {
  .btnExit {
    font-size: 15px;
    width: 22%;
  }
}

@media (max-width: 820px) {
  .btnExit {
    font-size: 14px;
    width: 25%;
  }
}

@media (max-width: 695px) {
  .btnExit {
    font-size: 12px;
    width: 30%;
  }
}

@media (max-width: 530px) {
  .btnExitContainer {
    width: 80%;
    margin: 4% auto;
  }

  .btnExit {
    font-size: 10px;
    width: 45%;
  }
}

@media (max-width: 425px) {
  .btnExit {
    font-size: 8px;
  }
}
