.container {
  padding: 2% 0 10%;
  color: gray;

  .btnWrapper {
    display: flex;
    justify-content: flex-end;
  }

  .h2 {
    font-size: 22px;
    color: black;
    margin-bottom: 5%;
  }

  .playersContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .btnExit {
    border: 1px solid var(--bg-blue);
    text-transform: uppercase;
    color: var(--bg-blue);
    font-weight: 600;
    background-color: white;
    padding: 0.5% 6%;
  }
}

@media (max-width: 940px) {
  .container {
    .btnExit {
      padding: 0.3% 4.5%;
      font-size: 11px;
    }
    .h2 {
      font-size: 19px;
    }
  }
}

@media (max-width: 530px) {
  .container {
    .playersContainer {
      justify-content: center;
    }
    .btnExit {
      margin-right: 10%;
    }
  }
}
