.main {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}
.infoPopup {
  position: absolute;
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: gray;
  min-width: 100%;
  border-radius: 5%;
  padding: 1%;
  font-size: 14px;
  z-index: 5;
  text-align: center;
  .infoValue {
    word-break: break-all;
  }

  .nameInfo {
    font-weight: 600;
    color: rgb(43, 58, 103);
  }
}

.iconDelete,
.iconEdit {
  display: block;
  cursor: pointer;
}
.iconDelete {
  width: 17px;
  height: 20.5px;
}
.iconEdit {
  width: 19px;
  height: 21px;
}
.name {
  font-size: 1em;
  margin-bottom: 0;
  width: 70%;
  text-align: start;
  position: relative;
  z-index: 1;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.priority {
  text-align: start;
  font-size: 0.5em;
  margin-top: -1%;
}

@media (max-width: 950px) {
  .iconEdit {
    width: 17px;
    height: 17px;
  }
  .iconDelete {
    width: 15px;
    height: 17px;
  }
}

@media (max-width: 700px) {
  .iconEdit {
    width: 14px;
    height: 14px;
  }
  .iconDelete {
    width: 11px;
    height: 14px;
  }
}

@media (max-width: 530px) {
  .iconDelete,
  .iconEdit {
    transform: initial;
  }
}
