.main {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: flex-end;
}
.info {
  position: absolute;
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: gray;
  margin-top: 1.5%;
  margin-left: -13%;
  width: 20%;
  border-radius: 5%;
  padding: 1%;
  font-size: 14px;
  z-index: 5;
  text-align: center;
}
.nameInfo {
  font-weight: 600;
  color: rgb(43, 58, 103);
}
.iconDelete,
.iconEdit {
  display: block;
}
.iconDelete {
  width: 17px;
  height: 20.5px;
}
.iconEdit {
  width: 19px;
  height: 21px;
}
.name {
  font-size: 1em;
  margin-bottom: 0;
  width: 70%;
  text-align: start;
  position: relative;
  z-index: 1;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.priority {
  text-align: start;
  font-size: 0.5em;
  margin-top: -2%;
}
@media (max-width: 1050px) {
  .name {
    font-size: 0.9em;
  }
  .info {
    width: 22%;
    font-size: 13px;
  }
}

@media (max-width: 950px) {
  .name {
    font-size: 0.8em;
  }
  .iconEdit {
    width: 17px;
    height: 17px;
  }
  .iconDelete {
    width: 15px;
    height: 17px;
  }
}
@media (max-width: 820px) {
  .name {
    font-size: 0.75em;
  }
  .priority {
    font-size: 0.4em;
    margin-top: -3%;
  }
  .info {
    width: 27%;
    font-size: 12px;
  }
}

@media (max-width: 700px) {
  .name {
    font-size: 0.7em;
  }
  .priority {
    font-size: 0.35em;
  }
  .iconEdit {
    width: 14px;
    height: 14px;
  }
  .iconDelete {
    width: 11px;
    height: 14px;
  }
}

@media (max-width: 530px) {
  .priority {
    margin-top: -2%;
  }
  .info {
    width: 40%;
  }
}
