.container {
  max-width: 75%;
  margin: 0 auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-top: 5%;
  padding-bottom: 10%;
  margin-bottom: 2%;

  .wrapperLogo {
    margin-bottom: 3%;
  }

  .logo {
    max-width: 40%;
  }

  .rootForm {
    display: flex;
    flex-direction: column;
    width: 65%;
    padding-left: 2%;
    text-align: start;
  }

  .label1,
  .label2 {
    color: var(--text-light-green);
    font-weight: bold;
    font-size: 2.2em;
    width: 100%;
  }

  .label2 {
    margin-top: 3%;
    text-align: center;
  }

  .input {
    display: inline;
    width: 55%;
  }

  .wrapperBtnStart {
    margin-left: 55%;
  }

  .btn {
    background: var(--bg-blue);
    width: 200px;
    margin-top: -0.6%;
  }

  .warning {
    color: red;
    padding-left: 5px;
    font-size: 12px;
    font-weight: bold;
    margin-top: -0.9rem;
  }
}

@media (max-width: 946px) {
  .container {
    .label1,
    .label2 {
      font-size: 1.7em;
    }

    .btn {
      width: 145px;
    }

    .input {
      font-size: 16px;
    }
  }
}

@media (max-width: 768px) {
  .container {
    .label1,
    .label2 {
      font-size: 1.4em;
    }

    .input {
      font-size: 14px;
      padding: 0.375rem 0 0.375rem 0.1rem;
    }

    .btn {
      width: 145px;
      font-size: 14px;
    }

    .warning {
      font-size: 10px;
    }
  }
}

@media (max-width: 695px) {
  .container {
    .label1,
    .label2 {
      font-size: 1.2em;
    }

    .btn {
      width: 110px;
      font-size: 12px;
    }

    .input {
      font-size: 12px;
    }

    .warning {
      font-size: 9px;
    }
  }
}

@media (max-width: 576px) {
  .container {
    .label1,
    .label2 {
      font-size: 1em;
    }

    .btn {
      width: 100px;
      font-size: 10px;
      margin-top: 0;
    }

    .input {
      font-size: 10px;
    }
  }
}

@media (max-width: 490px) {
  .container {
    .rootForm {
      width: 75%;
    }

    .label1,
    .label2 {
      font-size: 1em;
    }

    .btn {
      font-size: 9px;
    }

    .input {
      font-size: 9px;
    }

    .warning {
      font-size: 8px;
    }
  }
}

@media (max-width: 410px) {
  .container {
    .rootForm {
      width: 100%;
    }
    .btn {
      width: 90px;
    }
  }
}
