$main-font: var(--main-font);

.left {
  text-align: start;
}

.left.left {
  width: 100%;
}

.title {
  font-family: $main-font;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 75px;
  color: #000000;
}

@media (max-width: 1000px) {
  .title {
    font-size: 40px;
  }
}

@media (max-width: 700px) {
  .title {
    font-size: 24px;
  }
  .label {
    font-size: 18px;
    font-weight: 500;
  }
}
