.container {
  padding: 2% 0 1%;
  color: gray;
}
.role {
  font-size: 12px;
  text-align: start;
}
.playersContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 17px;
}

@media (max-width: 1200px) {
  .playersContainer {
    font-size: 15px;
  }
}
@media (max-width: 810px) {
  .playersContainer {
    font-size: 13px;
  }
}
@media (max-width: 530px) {
  .role {
    margin-left: 10%;
  }
  .playersContainer {
    justify-content: space-evenly;
  }
}
